.TrackingAreaWrapper {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;

}

.TrackingAreaTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TrackingAreaTitleWrapper h1 {
    font-family: 'Langar';
    font-size: 42;
    font:100;
}

.TrackingAreaInputsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 768px) {
    .TrackingAreaInputsWrapper {
        flex-direction: column;
        align-items: center;
    }

    .TrackingAreaInputsWrapper > * {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.InputAreaContainer {
    background-color: #FFFFFF;
    border: 0.5px solid #4D96D9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputAreaContainerTitle {
    font: bold;
}

.InputAreaContainerTitle h2 {
    font-family: 'Lato-Bold';
}

.InputFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.InputQuestion {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.InputQuestionTitle {
    font-family: 'Lato-Bold';
    font-size: small;
    width: inherit;
    margin-bottom: -7px;
    margin-left: 5px;
}

.InputQuestionValue {
    width: inherit;
}

/*
.InputQuestionValue input {
    width: 294px;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-left: -2px;
}*/

.InputQuestionTypeText {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
}

.InputQuestionTypeSelect {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.InputAreaSubmitContainer {
    margin-top: 20px;
}

.TransactionLogArea {
    background-color: #4D96D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TransactionLogAreaTitleWrapper h1 {
        color: #FFFFFF;
        font-family: 'Langar';
        font-size: 42;
        font:100;
}

.TransactionsTableContainer {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    width: 90%;
    margin-bottom: 25px;
}

.TransactionsTable {
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
    padding: 5px;
}

.TransactionTableRowWrapper {
    border: 0.5px solid black;

}

.TransactionTableRowWrapper * {
    padding-left: 10px;
    padding-right: 10px;
    
}

.TransactionTableRowWrapper td {
    text-align: center;
}

.BudgetColumnDataField {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BudgetStickerContainer {
    background-color: #4D96D9;
    border-radius: 100px;
    border: 0.5px solid black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lato-Bold';
    font-weight: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.DataFieldClass {
    font-weight: bold;
    font-family: 'Lato-Thin';
}

.DataColumnHeader {
    font-family: 'Lato-Bold';
}

.BudgetColorSquare {
    background-color: #4D96D9;
    width: 100px;
}

.RemoveTTableItemImage {
    max-width: 20px;
    max-height: 20px;
}

.ButtonRoundedStyle {
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #4D96D9;
    font-weight:600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.ButtonHoverEffect {
    transition: transform 0.3s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    
}

.ButtonHoverEffect:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.InvalidField {
    border-color: red;
}

.ConfirmPasswordFail {

}